<form method="GET" action="/dinosaurs">
  <label for="nameFilter">Filter by name:</label>
  <input type="text" id="nameFilter" name="nameFilter">
  <input type="submit">
</form>


<ul>
  <% myDinos.forEach(dino => { %>
  <li><%= dino.name %> is a <%= dino.type %></li>
  <% }); %>
</ul>