<form method="POST" action="/dinosaurs">
  <label for="dinosaurType">Type:</label>
  <input id="dinosaurType" type="text" name="type"

  <label for="dinosaurName">Name:</label>
  <input type="text" id="dinosaurName" name="name">

  <input type="submit">
</form>